<table>
<tr>
<td>ООО Альтернативные инвестиции</td>
<td><a href='https://www.vtbcapital-i2bf.ru'>https://www.vtbcapital-i2bf.ru</a></td>
<td>403</td>
</tr>
<tr>
<td>АО УК "БКС"</td>
<td><a href='https://bcs.ru/am'>https://bcs.ru/am</a></td>
<td>403</td>
</tr>
<tr>
<td>Акционерное общество "Кросна-Банк"</td>
<td><a href='http://www.crosnabank.ru/about/Raskr_regular/3921-U/'>http://www.crosnabank.ru/about/Raskr_regular/3921-U/</a></td>
<td>HTTPConnectionPool(host='www.crosnabank.ru', port=80): Max retries exceeded with url: /about/Raskr_regular/3921-U/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7fbfe01b7c40>, 'Connection to www.crosnabank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>АКЦИОНЕРНОЕ ОБЩЕСТВО КОММЕРЧЕСКИЙ БАНК "АГРОПРОМКРЕДИТ"</td>
<td><a href='https://apkbank.ru/ru/msk/'>https://apkbank.ru/ru/msk/</a></td>
<td>HTTPSConnectionPool(host='apkbank.ru', port=443): Max retries exceeded with url: /ru/msk/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fbfe01d3160>, 'Connection to apkbank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Акционерное общество "ЮниКредит Банк"</td>
<td><a href='https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html'>https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html</a></td>
<td>HTTPSConnectionPool(host='www.unicreditbank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Акционерный коммерческий банк "Национальный Резервный Банк" (акционерное общество)</td>
<td><a href='https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/'>https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/</a></td>
<td>HTTPSConnectionPool(host='www.nrb.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Банк "Российская финансовая корпорация" акционерное общество</td>
<td><a href='https://rusfincorp.ru/about/prof/'>https://rusfincorp.ru/about/prof/</a></td>
<td>HTTPSConnectionPool(host='rusfincorp.ru', port=443): Max retries exceeded with url: /about/prof/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fbfe01ce670>, 'Connection to rusfincorp.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>ИНГ БАНК (ЕВРАЗИЯ) АКЦИОНЕРНОЕ ОБЩЕСТВО</td>
<td><a href='https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag'>https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag</a></td>
<td>HTTPSConnectionPool(host='www.ingwb.com', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Публичное акционерное общество "КВАНТ МОБАЙЛ БАНК"</td>
<td><a href='https://www.km-bank.ru/'>https://www.km-bank.ru/</a></td>
<td>HTTPSConnectionPool(host='www.km-bank.ru', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fbfe01d3460>, 'Connection to www.km-bank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Публичное акционерное общество "МЕТКОМБАНК"</td>
<td><a href='https://www.metcom.ru/aboutus/otchet/415/'>https://www.metcom.ru/aboutus/otchet/415/</a></td>
<td>HTTPSConnectionPool(host='www.metcom.ru', port=443): Max retries exceeded with url: /aboutus/otchet/415/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fbfe01ec2e0>, 'Connection to www.metcom.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Публичное акционерное общество Новгородский Универсальный коммерческий банк "Новобанк"</td>
<td><a href='https://novobank.ru/'>https://novobank.ru/</a></td>
<td>HTTPSConnectionPool(host='novobank.ru', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fbfe01cecd0>, 'Connection to novobank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Акционерное общество "Акционерный коммерческий банк "АЛЕФ-БАНК"</td>
<td><a href='https://alefbank.ru/about/raskrytie-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag/'>https://alefbank.ru/about/raskrytie-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag/</a></td>
<td>HTTPSConnectionPool(host='alefbank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
</table>
