<table>
<tr>
<td>ООО "Совкомбанк Управление Активами"</td>
<td><a href='https://vostochniy-capital.ru, sovcombank-am.ru'>https://vostochniy-capital.ru, sovcombank-am.ru</a></td>
<td>HTTPSConnectionPool(host='vostochniy-capital.ru,%20sovcombank-am.ru', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f34b5f1b6d0>: Failed to establish a new connection: [Errno -2] Name or service not known'))</td>
</tr>
<tr>
<td>ООО "УК "ФОРТИС-Инвест"</td>
<td><a href='https://www.fortisinvest.ru'>https://www.fortisinvest.ru</a></td>
<td>HTTPSConnectionPool(host='www.fortisinvest.ru', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f34b5e96a30>: Failed to establish a new connection: [Errno 111] Connection refused'))</td>
</tr>
<tr>
<td>ООО "УК "Сургутгазстрой"</td>
<td><a href='http://uk-sgs/ru'>http://uk-sgs/ru</a></td>
<td>HTTPConnectionPool(host='uk-sgs', port=80): Max retries exceeded with url: /ru (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f34b5dd5430>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))</td>
</tr>
<tr>
<td>ООО "УК РИГОРА"</td>
<td><a href='https://www.uk-rigora.ru'>https://www.uk-rigora.ru</a></td>
<td>404</td>
</tr>
<tr>
<td>ООО "УК "Райффайзен Капитал"</td>
<td><a href='https://www.raiffeisen-capital.ru, www.raiffeisencapital.ru, www.rcmru.ru'>https://www.raiffeisen-capital.ru, www.raiffeisencapital.ru, www.rcmru.ru</a></td>
<td>HTTPSConnectionPool(host='www.raiffeisen-capital.ru,%20www.raiffeisencapital.ru,%20www.rcmru.ru', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f34b5dd5220>: Failed to establish a new connection: [Errno -2] Name or service not known'))</td>
</tr>
<tr>
<td>АО УК "БКС"</td>
<td><a href='https://bcs.ru/am'>https://bcs.ru/am</a></td>
<td>403</td>
</tr>
<tr>
<td>ООО УК "МД Траст"</td>
<td><a href='https://'>https://</a></td>
<td>Invalid URL 'https://': No host supplied</td>
</tr>
<tr>
<td>Акционерное общество "Кросна-Банк"</td>
<td><a href='http://www.crosnabank.ru/about/Raskr_regular/3921-U/'>http://www.crosnabank.ru/about/Raskr_regular/3921-U/</a></td>
<td>HTTPConnectionPool(host='www.crosnabank.ru', port=80): Max retries exceeded with url: /about/Raskr_regular/3921-U/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7f34b5da4d00>, 'Connection to www.crosnabank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>АКЦИОНЕРНОЕ ОБЩЕСТВО КОММЕРЧЕСКИЙ БАНК "АГРОПРОМКРЕДИТ"</td>
<td><a href='https://apkbank.ru/ru/msk/'>https://apkbank.ru/ru/msk/</a></td>
<td>HTTPSConnectionPool(host='apkbank.ru', port=443): Max retries exceeded with url: /ru/msk/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f34b5dba0a0>, 'Connection to apkbank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Акционерный коммерческий банк "Национальный Резервный Банк" (акционерное общество)</td>
<td><a href='https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/'>https://www.nrb.ru/about/open-information/opening-information/professionalniy-uchastnik-rynka-tsennykh-bumag/</a></td>
<td>HTTPSConnectionPool(host='www.nrb.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Общество с ограниченной ответственностью "Инвестиционная компания "Статус Финанс"</td>
<td><a href='https://statusfinans.ru/information-disclosure/infoAboutCompany'>https://statusfinans.ru/information-disclosure/infoAboutCompany</a></td>
<td>HTTPSConnectionPool(host='statusfinans.ru', port=443): Max retries exceeded with url: /information-disclosure/infoAboutCompany (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f34b5daa040>, 'Connection to statusfinans.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Публичное акционерное общество "КВАНТ МОБАЙЛ БАНК"</td>
<td><a href='https://www.km-bank.ru/'>https://www.km-bank.ru/</a></td>
<td>HTTPSConnectionPool(host='www.km-bank.ru', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f34b5daab80>, 'Connection to www.km-bank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Публичное акционерное общество "МЕТКОМБАНК"</td>
<td><a href='https://www.metcom.ru/aboutus/otchet/415/'>https://www.metcom.ru/aboutus/otchet/415/</a></td>
<td>HTTPSConnectionPool(host='www.metcom.ru', port=443): Max retries exceeded with url: /aboutus/otchet/415/ (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f34b5dbaf70>, 'Connection to www.metcom.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Публичное акционерное общество Новгородский Универсальный коммерческий банк "Новобанк"</td>
<td><a href='https://novobank.ru/'>https://novobank.ru/</a></td>
<td>HTTPSConnectionPool(host='novobank.ru', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7f34b5dba6a0>, 'Connection to novobank.ru timed out. (connect timeout=5)'))</td>
</tr>
<tr>
<td>Акционерное общество "Акционерный коммерческий банк "АЛЕФ-БАНК"</td>
<td><a href='https://alefbank.ru/about/raskrytie-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag/'>https://alefbank.ru/about/raskrytie-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag/</a></td>
<td>HTTPSConnectionPool(host='alefbank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
</table>
<table>
<tr>
<td>Акционерное общество "ЮниКредит Банк"</td>
<td><a href='https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html'>https://www.unicreditbank.ru/ru/about/issuer-information/professional-participant-info.html</a></td>
<td>HTTPSConnectionPool(host='www.unicreditbank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>Акционерное общество "Экспобанк"</td>
<td><a href='https://expobank.ru/about/disclosure/page-25-investitsionnaya-deyatelnost/'>https://expobank.ru/about/disclosure/page-25-investitsionnaya-deyatelnost/</a></td>
<td>HTTPSConnectionPool(host='expobank.ru', port=443): Read timed out. (read timeout=5)</td>
</tr>
<tr>
<td>ИНГ БАНК (ЕВРАЗИЯ) АКЦИОНЕРНОЕ ОБЩЕСТВО</td>
<td><a href='https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag'>https://www.ingwb.com/ru/usluga/soglasiy/konfidentsialnost-i-yuridicheskoye-zayavleniye/russia/raskrytiye-informatsii-professionalnym-uchastnikom-rynka-tsennykh-bumag</a></td>
<td>HTTPSConnectionPool(host='www.ingwb.com', port=443): Read timed out. (read timeout=5)</td>
</tr>
</table>
