<div class="container"><h3>ОПИФ рыночных финансовых инструментов «Райффайзен – Акции»</h3><a href="https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-35,197/">https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-35,197/</a><h5>Правила доверительного управления ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/492/rules_amendments_027-OPIF-Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 29.04.2021                                (.pdf 1.45 Mb)

                                    14.05.2021 10:56:59 Доступен до: Бессрочно

</a><p><b>2021-05-14 10:56:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/595/amendments_027-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 27 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 29.04.2021                                (.pdf 1.76 Mb)

                                    14.05.2021 10:55:40 Доступен до: Бессрочно

</a><p><b>2021-05-14 10:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/762/6-amendments_026-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 04.03.2021                                (.pdf 1.67 Mb)

                                    10.03.2021 15:53:16 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:53:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a2f/6-rules_amendments_026-OPIF-Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 04.03.2021                                (.pdf 1.46 Mb)

                                    10.03.2021 15:52:13 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:52:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/48d/Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 03.12.2020                                (.pdf 1.21 Mb)

                                    11.12.2020 20:17:29 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:17:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fc3/amendments_025-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 03.12.2020                                (.pdf 1.8 Mb)

                                    11.12.2020 19:02:39 Доступен до: Бессрочно

</a><p><b>2020-12-11 19:02:00+07:00</b></div><h5>Сведения ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/492/rules_amendments_027-OPIF-Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 29.04.2021                                (.pdf 1.45 Mb)

                                    14.05.2021 10:56:59 Доступен до: Бессрочно

</a><p><b>2021-05-14 10:56:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/595/amendments_027-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 27 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 29.04.2021                                (.pdf 1.76 Mb)

                                    14.05.2021 10:55:40 Доступен до: Бессрочно

</a><p><b>2021-05-14 10:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/762/6-amendments_026-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 04.03.2021                                (.pdf 1.67 Mb)

                                    10.03.2021 15:53:16 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:53:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a2f/6-rules_amendments_026-OPIF-Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 04.03.2021                                (.pdf 1.46 Mb)

                                    10.03.2021 15:52:13 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:52:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/48d/Aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Акции» от 03.12.2020                                (.pdf 1.21 Mb)

                                    11.12.2020 20:17:29 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:17:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fc3/amendments_025-OPIF-Aktsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ «Райффайзен — Акции» от 03.12.2020                                (.pdf 1.8 Mb)

                                    11.12.2020 19:02:39 Доступен до: Бессрочно

</a><p><b>2020-12-11 19:02:00+07:00</b></div><h5>Иные основные документы</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Отчетность</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Ключевой информационный документ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Реквизиты</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Индекс высокодоходных корпоративных облигаций</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/20c/Metodika-rascheta-indeksa-_Rai_ffai_zen-_-Vysokodokhodnye-obligatsii_.pdf">
                        Методика расчета индекса «Райффайзен – Высокодоходные облигации».pdf                        (.pdf 471 Kb)

                            28.05.2021 19:49:14 Доступен до: Бессрочно

</a><p><b>2021-05-28 19:49:00+07:00</b></div><h5>Индекс «Райффайзен Тактическая Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/215/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:14:23 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:14:00+07:00</b></div><h5>Индекс «Райффайзен Сбалансированная Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/432/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:52:32 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:52:00+07:00</b></div></div><div class="container"><h3>ОПИФ рыночных финансовых инструментов «Райффайзен – Облигации»</h3><a href="https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-36,197/">https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-36,197/</a><h5>Правила доверительного управления ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bba/rules_amendments_026-OPIF-Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 29.04.2021                                (.pdf 1.27 Mb)

                                    14.05.2021 11:06:02 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:06:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/42b/amendments_026-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 29.04.2021                                (.pdf 1.75 Mb)

                                    14.05.2021 11:03:37 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:03:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/1aa/12-amendments_025-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 04.03.2021                                (.pdf 1.64 Mb)

                                    10.03.2021 15:56:24 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:56:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/35d/12-rules_amendments_025-OPIF-Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 04.03.2021                                (.pdf 1.26 Mb)

                                    10.03.2021 15:55:30 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8d1/Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 03.12.2020                                (.pdf 1.05 Mb)

                                    11.12.2020 20:25:46 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/63d/amendments_024-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 24 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 03.12.2020                                (.pdf 1.8 Mb)

                                    11.12.2020 18:56:55 Доступен до: Бессрочно

</a><p><b>2020-12-11 18:56:00+07:00</b></div><h5>Сведения ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bba/rules_amendments_026-OPIF-Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 29.04.2021                                (.pdf 1.27 Mb)

                                    14.05.2021 11:06:02 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:06:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/42b/amendments_026-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 29.04.2021                                (.pdf 1.75 Mb)

                                    14.05.2021 11:03:37 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:03:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/1aa/12-amendments_025-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 04.03.2021                                (.pdf 1.64 Mb)

                                    10.03.2021 15:56:24 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:56:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/35d/12-rules_amendments_025-OPIF-Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 04.03.2021                                (.pdf 1.26 Mb)

                                    10.03.2021 15:55:30 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8d1/Obligatsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен — Облигации» от 03.12.2020                                (.pdf 1.05 Mb)

                                    11.12.2020 20:25:46 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/63d/amendments_024-OPIF-Obligatsii.pdf">
                                Изменения и дополнения № 24 в правила доверительного управления ОПИФ «Райффайзен — Облигации» от 03.12.2020                                (.pdf 1.8 Mb)

                                    11.12.2020 18:56:55 Доступен до: Бессрочно

</a><p><b>2020-12-11 18:56:00+07:00</b></div><h5>Иные основные документы</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Отчетность</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Ключевой информационный документ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Реквизиты</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Индекс высокодоходных корпоративных облигаций</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/20c/Metodika-rascheta-indeksa-_Rai_ffai_zen-_-Vysokodokhodnye-obligatsii_.pdf">
                        Методика расчета индекса «Райффайзен – Высокодоходные облигации».pdf                        (.pdf 471 Kb)

                            28.05.2021 19:49:14 Доступен до: Бессрочно

</a><p><b>2021-05-28 19:49:00+07:00</b></div><h5>Индекс «Райффайзен Тактическая Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/215/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:14:23 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:14:00+07:00</b></div><h5>Индекс «Райффайзен Сбалансированная Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/432/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:52:32 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:52:00+07:00</b></div></div><div class="container"><h3>ОПИФ рыночных финансовых инструментов «Райффайзен – Дивидендные акции»</h3><a href="https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-185,197/">https://www.raiffeisen-capital.ru/information/paevye-investitsionnye-fondy/pravila-doveritelnogo-upravleniya-filter-INFO_FUND,INFO_SUBSECTION2-185,197/</a><h5>Правила доверительного управления ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/128/rules_amendments_026-OPIF-Div-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 29.04.2021                                (.pdf 1.4 Mb)

                                    14.05.2021 11:27:45 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:27:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/87f/amendments_026-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 29.04.2021                                (.pdf 1.74 Mb)

                                    14.05.2021 11:06:57 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:06:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/225/11-amendments_025-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 04.03.2021                                (.pdf 1.66 Mb)

                                    10.03.2021 15:59:42 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:59:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a77/11-rules_amendments_025-OPIF-Div-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 04.03.2021                                (.pdf 1.4 Mb)

                                    10.03.2021 15:58:11 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:58:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/c45/Dividendnye-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 03.12.2020                                (.pdf 1.17 Mb)

                                    11.12.2020 20:34:34 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/db5/amendments_024-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 24 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 03.12.2020                                (.pdf 1.81 Mb)

                                    11.12.2020 20:33:16 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:33:00+07:00</b></div><h5>Сведения ПИФ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/128/rules_amendments_026-OPIF-Div-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 29.04.2021                                (.pdf 1.4 Mb)

                                    14.05.2021 11:27:45 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:27:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/87f/amendments_026-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 26 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 29.04.2021                                (.pdf 1.74 Mb)

                                    14.05.2021 11:06:57 Доступен до: Бессрочно

</a><p><b>2021-05-14 11:06:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/225/11-amendments_025-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 25 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 04.03.2021                                (.pdf 1.66 Mb)

                                    10.03.2021 15:59:42 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:59:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a77/11-rules_amendments_025-OPIF-Div-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 04.03.2021                                (.pdf 1.4 Mb)

                                    10.03.2021 15:58:11 Доступен до: Бессрочно

</a><p><b>2021-03-10 15:58:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/c45/Dividendnye-aktsii.pdf">
                                Правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 03.12.2020                                (.pdf 1.17 Mb)

                                    11.12.2020 20:34:34 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/db5/amendments_024-OPIF-Div-aktsii.pdf">
                                Изменения и дополнения № 24 в правила доверительного управления ОПИФ рыночных финансовых инструментов «Райффайзен —Дивидендные акции» от 03.12.2020                                (.pdf 1.81 Mb)

                                    11.12.2020 20:33:16 Доступен до: Бессрочно

</a><p><b>2020-12-11 20:33:00+07:00</b></div><h5>Иные основные документы</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Отчетность</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a1b/u9zzlrarbgpbtsk0adn0jwq08ext186p/Pravila-otsenki-Rayffayzen-Aktsii-2022.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 01.08.2022                                (.pdf 1.79 Mb)

                                    22.07.2022 22:37:17 Доступен до: Бессрочно

</a><p><b>2022-07-22 22:37:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6f8/3tocm6nugv39zfp1w6m4yb1iq5mfyds7/PrOprNAV-OPIF-AKCII-_-18_04_22.docx">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 26.04.2022                                (.docx 319.04 Kb)

                                    18.04.2022 21:20:16 Доступен до: Бессрочно

</a><p><b>2022-04-18 21:20:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/bdc/_-_-_-_-_-01.07.2021.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов "Райффайзен - Акции", действующие с 01.07.2021 г.                                (.pdf 1.56 Mb)

                                    23.06.2021 17:55:12 Доступен до: Бессрочно

</a><p><b>2021-06-23 17:55:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6ee/Pravila-otsenki-Aktsii-2020-ITOG.pdf">
                                Изменения в Правила определения стоимости чистых активов ОПИФ рыночных финансовых инструментов «Райффайзен — Акции», действующие с 03.12.2020 г.                                (.pdf 1.38 Mb)

                                    26.11.2020 23:43:16 Доступен до: Бессрочно

</a><p><b>2020-11-26 23:43:00+07:00</b></div><h5>Ключевой информационный документ</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Реквизиты</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/b29/yyfb6ixmjdxt5p3v91ay1egkl3v33uf3/KID-OPIF-R-_-akcii-_-2022_8.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.08.2022                                (.pdf 461.41 Kb)

                                    09.09.2022 21:26:06 Доступен до: Бессрочно

</a><p><b>2022-09-09 21:26:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/189/nmpgtopek4njh7quepnvmjguuqizei28/KID-OPIF-R-_-akcii-_-2022_7.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.07.2022                                (.pdf 461.93 Kb)

                                    09.08.2022 20:01:46 Доступен до: Бессрочно

</a><p><b>2022-08-09 20:01:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/8c9/t8ubwjs1ohy19z2vyxlci4n99d5li144/KID-OPIF-R-_-akcii-_-2022_6.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 30.06.2022                                (.pdf 483.53 Kb)

                                    11.07.2022 17:15:57 Доступен до: Бессрочно

</a><p><b>2022-07-11 17:15:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/603/mk6puzb7fdo275eio524j81yqjz4pak8/KID-OPIF-R-_-akcii-_-2022_5.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.05.2022                                (.pdf 484 Kb)

                                    09.06.2022 21:31:34 Доступен до: Бессрочно

</a><p><b>2022-06-09 21:31:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/fe4/3nbs5w018c0skels22drblinj39i925s/KID-OPIF-R-_-akcii-_-2022_4.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 29.04.2022                                (.pdf 484.83 Kb)

                                    16.05.2022 21:34:38 Доступен до: Бессрочно

</a><p><b>2022-05-16 21:34:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/2d1/fmymwl1i9oae25wdcthxq7fe1ohj3nhx/KID-OPIF-R-_-akcii-_-2022_3.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.03.2022                                (.pdf 487.37 Kb)

                                    11.04.2022 16:25:37 Доступен до: Бессрочно

</a><p><b>2022-04-11 16:25:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/a64/KID-OPIF-R-_-akcii-_-2022_2.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 28.02.2022                                (.pdf 495.92 Kb)

                                    10.03.2022 20:19:45 Доступен до: Бессрочно

</a><p><b>2022-03-10 20:19:00+07:00</b></div><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/6e7/KID-OPIF-R-_-akcii-_-2022_1.pdf">
                                Ключевой информационный документ ОПИФ РФИ «Райффайзен - Акции» на 31.01.2022                                (.pdf 495.83 Kb)

                                    09.02.2022 20:46:25 Доступен до: Бессрочно

</a><p><b>2022-02-09 20:46:00+07:00</b></div><h5>Индекс высокодоходных корпоративных облигаций</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/20c/Metodika-rascheta-indeksa-_Rai_ffai_zen-_-Vysokodokhodnye-obligatsii_.pdf">
                        Методика расчета индекса «Райффайзен – Высокодоходные облигации».pdf                        (.pdf 471 Kb)

                            28.05.2021 19:49:14 Доступен до: Бессрочно

</a><p><b>2021-05-28 19:49:00+07:00</b></div><h5>Индекс «Райффайзен Тактическая Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/215/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:14:23 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:14:00+07:00</b></div><h5>Индекс «Райффайзен Сбалансированная Стратегия Биржевых Фондов»</h5><div class="d-flex flex-wrap justify-content-between"><a href="https://www.raiffeisen-capital.ru/upload/iblock/432/Poryadok_rascheta_indeksov_Strategiya_Birzhevyh_Fondov.pdf">
                        Порядок расчета индексов стратегий биржевых фондов                        (.pdf 109.46 Kb)

                            07.09.2021 17:52:32 Доступен до: Бессрочно

</a><p><b>2021-09-07 17:52:00+07:00</b></div></div>